{% extends 'base.html' %} {% block title %}Add BlogPost{% endblock title %} {% block content %}
<h2>Add BlogPost</h2>
<div class="container">
    <form method="POST" action='{% url "addpost" %}'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="description" name="description" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="hidden" name="user" value="{{request.user}}">
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Slug</label>
            <input type="text" name="slug" class="form-control" id="exampleInputPassword1">
        </div> -->
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date</label>
            <input type="date" name="date_created" class="form-control" id="exampleInputPassword1">
        </div> -->



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}