{% extends 'base.html' %} {% block title %}Add BlogPost{% endblock title %} {% block content %}
<h2>Add BlogPost</h2>
<div class="container">
    <form method="POST" action='{% url "addpost" %}' enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="description" name="description" class="form-control" id="exampleInputPassword1">
        </div> {% endcomment %}
        {{form.as_p}}
    
        


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}