{% extends 'base.html' %}
{% load static %}
{% block title %}
    Blog
{% endblock title %}
{% block content %}
<style>
    .link{
        text-decoration:none;
    }
</style>
    <nav class="navbar navbar-expand-lg"
         class="navbar navbar-light"
         style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">BlogSite</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'addpost' %}">Add Post</a>
                  </li>
                   
                    {% endif %}
                   
                </ul>
                {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <h4>{{ request.user.first_name }}</h4>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form method="GET" action="{% url 'logout' %}">
                                
                                <li>
                                    <button input="submit" class="dropdown-item">Logout</button>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'signin' %}">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                                </li>
                            {% endif %}
                        </form>
                    </ul>
                </li>
                <form class="d-flex" method="GET" action="{% url 'search' %}">
                    <input class="form-control me-2"
                            name="query"
                            id="query"
                           type="search"
                           placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row mb-2">
            {% for blog in blog %}
                <div class="row mb-2">
                    <div class="col md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                                               <h3 class="mb-0">{{ blog.title }}</h3>
                                <div class="mb-1 text-muted">{{ blog.date_created }}</div>
                                <p class="card-text mb-auto">
                                    {{ blog.description }}
                                </p>
                                <a href="{% url 'blog' blog.slug %}" class="link" >Continue reading</a>
                                {% if request.user == blog.author %}
                                <a href="{% url 'update_post' blog.post_id %}" class="link">Update</a>
                                <a  href="{% url 'delete_post' blog.post_id %}" class="link" >Delete</a>
                               
<div id="result"></div>
                           
                                {% else %}
                                <h5>Author:<i>{{blog.author.first_name}}<i></h5>
                                {% endif %}
                            
                            </div>
                            
                            <div class="col-auto d-none d-lg-block">
                                <img class="bd-placeholder-img"
                                     width="200"
                                     height="250"
                                     src="{{ blog.thumbnail.url }}"
                                     role="img"
                                     aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice"
                                     focusable="false">
                                    <title>Placeholder</title>
                                    {% comment %} <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text> {% endcomment %}
                            </img>
                            </div> 
                            
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                      </div>
                      
                    </div>
                    {% endif %}
                
            {% endfor %}
        </div>
    </div>



{% endblock content %}
